In [11]:

import time
import numpy as np
import pandas as pd

start = time.time()
start




job_titles_from_hs = pd.read_csv(f'job_titles_from_hs.csv',  encoding= 'unicode_escape')#, low_memory=False)
#df = df.fillna('')
job_titles_from_hs.rename(columns={'ï»¿Job Title': 'job_title'}, inplace=True)

In [67]:
###WORKING!!!

df_1 = job_titles_from_hs.copy()

df_1["job_title_no_punc"] = ""

df_1['job_title_no_punc'] = df_1['job_title'].str.replace('[^a-zA-Z0-9\s]',' ', regex=True)
df_1['job_title_no_punc'] = df_1['job_title_no_punc'].replace(np.nan, "")
df_1['job_title_no_punc_but_with_upper'] = df_1['job_title_no_punc']
df_1['job_title_no_punc']= df_1['job_title_no_punc'].str.lower()
df_1["extended_job_title"] = df_1['job_title_no_punc']
df_1["simple_job_title"] = ""
df = df_1.copy()

step1 = time.time()
print(step1 - start)

job_title_dict = {

    'co-founder' : 'co founder ',
    'cofounder' : 'co founder ',
    'co_founder' : 'co founder ',
    'bud tender' : 'budtender ',
    'chair ' : 'chairman '
}

for row in range(len(df['extended_job_title'])):
    for i, j in job_title_dict.items():
        if i in df['extended_job_title'][row]:
            df['extended_job_title'][row] = df['extended_job_title'][row].replace(i, j)

   
step2 = time.time()
print(step2 - step1)

df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)ceo(?!\S)', 'chief executive officer', regex=True)
df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)cco(?!\S)', 'chief compliance officer', regex=True)
df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)chro(?!\S)', 'chief human resources officer', regex=True)
df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)cso(?!\S)', 'chief security officer', regex=True)
df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)cgo(?!\S)', 'chief green officer', regex=True)
df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)cao(?!\S)', 'chief analytics officer', regex=True)
df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)cmo(?!\S)', 'chief marketing officer', regex=True)
df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)cdo(?!\S)', 'chief data/design officer', regex=True)
df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)cfo(?!\S)', 'chief financial officer', regex=True)
df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)cio(?!\S)', 'chief information officer', regex=True)
df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)gc(?!\S)', 'general counsel', regex=True)
df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)gm(?!\S)', 'general manager', regex=True)
df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)cto(?!\S)', 'chief technology officer', regex=True)
df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)cpo(?!\S)', 'chief product officer', regex=True)
df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)cxo(?!\S)', 'chief experience officer', regex=True)
df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)vp(?!\S)', 'vice president', regex=True)
df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)svp(?!\S)', 'senior vice president', regex=True)
df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)s(?!\S) vice president(?!\S)', 'senior vice president', regex=True)
df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)coo(?!\S)', 'chief operating officer', regex=True)

            
            
step3 = time.time()
print(step3 - step2)

job_title_dict = {
    'chief compliance officer ' : 'cco' ,
    'chief human resources officer ' :'chro' ,
    'chief security officer ' :'cso',
    'chief green officer ' :'cgo',
    'chief analytics officer ' :'cao',
    'chief marketing officer ' :'cmo',
    'chief data/design  officer ' : 'cdo',
    'chief financial officer ' :'cfo',
    'chief operating officer ' :'coo',
    'chief information officer ' :'cio',
    'general counsel ' :'gc',
    'general manager ' :'gm',
    'chief technology officer ' :'cto',
    'chief product officer ' :'cpo',
    'chief experience officer ' :'cxo',
    'chief executive officer ' : 'ceo',
    'co founder ' : ' co_founder'}
    

for i, j in job_title_dict.items():
    for row in range(len(df['extended_job_title'])):    
        if j == df['extended_job_title'][row]:
            df['extended_job_title'][row] = df['extended_job_title'][row].replace(j, i)
            continue

step4 = time.time()
print(step4 - step3)  

end = time.time()
print(end - start)


list_of_titles=['manager',
 'director',
 'chief',
 'officer',
 'executive',
 'president',
 'founder',
 'partner',
 'vice',
 'marketing',
 'sales',
 'senior',
 'managing',
 'owner',
 'financial',
 'business',
 'operations',
 'associate',
 'assistant',
 'development',
 'specialist',
 'advisor',
 'investment',
 'operating',
 'consultant',
 'principal',
 'analyst',
 'coordinator',
 'engineer',
 'head',
 'member',
 'product',
 'research',
 'compliance',
 'management',
 'hr',
 'chairman',
 'lead',
 'attorney',
 'representative',
 'cultivation',
 'technician']
print(f'there are {len(list_of_titles)} simple titles')   

# loop over the job titles and append a semicolon separator between the matched titles
for i in list_of_titles:
    mask = df['extended_job_title'].str.contains(i, regex=False)
    df.loc[mask, 'simple_job_title'] += i + ';'

# strip the last semicolon from each value in the 'simple_job_title' column
df['simple_job_title'] = df['simple_job_title'].str.rstrip(';')

step5 = time.time()
print(step5 - step4)   

df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

3365.162591934204
2.738658905029297
2.9379169940948486
7.990004062652588
3378.829337835312
there are 42 simple titles
0.9296188354492188

In [ ]:

list_of_titles = ['advisor',
                 'president',
                 'partner',
                 'analyst',
                 'academic',
                 'founder',
                 'owner',
                 'director',
                 'consultant',
                 'executive',
                 'supervisor',
                 'specialist',
                 'agent',
                 'investor',
                 'attorney',
                 'board',
                 'representative',
                 'ambassador',
                 'broker',
                 'budtender',
                 'chairman',
                 'administrator',
                 'co founder',
                 'controller',
                 'technician',
                 'driver',
                 'counsel',
                 'head of',
                 'intern',
                 'coordinator',
                 'chief',
                 'associate',
                 'officer',
                 'principal',
                 'manager',
                 'vice president',
                 'assistant',
                 'specialist',
                 'engineer']
print(f'there are {len(list_of_titles)} titles')            
            
            
for i in list_of_titles:
    df.loc[df['extended_job_title'].str.contains(i,regex=False), 'simple_job_title'] = i    

step5 = time.time()
print(step5 - step4)

Data Manipulation         
v Append with ; 
v Data analysis of the titles.
v Break down to words of the extended
Create an bar chart of the top 50 words
Eliminate noise
V Append with ; to the title short list
Create tableau presenting the difference

In [4]:
#check_unique_titlesbmn
#unique_extended
#join_all_titles and make historgram off all words, groupby count desc

In [65]:
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [68]:
df

,job_title,job_title_no_punc,job_title_no_punc_but_with_upper,extended_job_title,simple_job_title
0,Director,director,Director,director,director
1,-,,,,
2,CEO / Head Cultivator / Mycologist,ceo head cultivator mycologist,CEO Head Cultivator Mycologist,chief executive officer head cultivator my...,chief;officer;executive;head
3,-,,,,
4,Outreach Account Manager,outreach account manager,Outreach Account Manager,outreach account manager,manager
...,...,...,...,...,...
99214,CEO,ceo,CEO,chief executive officer,chief;officer;executive
99215,Investor Relations Manager,investor relations manager,Investor Relations Manager,investor relations manager,manager
99216,CEO & Co-Founder,ceo co founder,CEO Co Founder,chief executive officer co founder,chief;officer;executive;founder
99217,President and Co-Founder,president and co founder,President and Co Founder,president and co founder,president;founder
99218,CEO,ceo,CEO,chief executive officer,chief;officer;executive

In [70]:
print(f' There are {df["job_title"].nunique()} unique titles in job_title')
print(f' There are {df["job_title_no_punc_but_with_upper"].nunique()} unique titles in job_title_no_punc_but_with_upper')
print(f' There are {df["job_title_no_punc"].nunique()} unique titles in job_title_no_punc')
print(f' There are {df["extended_job_title"].nunique()} unique titles in extended_job_title')

 There are 35130 unique titles in job_title
 There are 34483 unique titles in job_title_no_punc_but_with_upper
 There are 33543 unique titles in job_title_no_punc
 There are 33165 unique titles in extended_job_title

In [71]:
mask = df['job_title_no_punc_but_with_upper'] != df['job_title']

print(f'cleaning punc applied to {mask.sum()} rows')

cleaning punc applied to 25341 rows

In [32]:
mask = df['job_title_no_punc'] != df['extended_job_title']

print(f'extending the abvs applied to {mask.sum()} rows')

extending the abvs applied to 8271 rows

In [72]:
mask = df['job_title'] != df['extended_job_title']

print(f'extending the abvs applied to {mask.sum()} rows')

extending the abvs applied to 98267 rows

In [33]:
df['job_title_no_punc'].value_counts().head(20)

owner                      1865
partner                    1822
ceo                        1781
chief executive officer    1703
president                  1523
managing director          1420
founder                    1391
director                   1182
co founder                 1176
director of marketing      1089
managing partner           1016
general manager             955
manager                     871
chief financial officer     863
vice president              833
marketing director          717
chief operating officer     654
principal                   594
hr manager                  475
founder   ceo               471
Name: job_title_no_punc, dtype: int64

In [34]:
df['extended_job_title'].value_counts().head(20)

chief executive officer              3484
owner                                1865
partner                              1822
president                            1523
managing director                    1420
founder                              1391
co founder                           1246
director                             1182
director of marketing                1089
chief financial officer              1085
general manager                      1059
managing partner                     1016
chief operating officer              1010
vice president                        930
manager                               871
marketing director                    717
principal                             594
founder   chief executive officer     519
hr manager                            475
account manager                       422
Name: extended_job_title, dtype: int64

# still not perfect

In [35]:

# concatenate all text data into a single string
text = ' '.join(df['extended_job_title'])

# convert string to lowercase and split into words
words = text.split()

# create a series from the list of words and count the frequency of each word
word_counts = pd.Series(words).value_counts()
word_counts
# get the top 5 most frequent words
#top_words = word_counts.head(5)

# print the result
#print(top_words)

manager             16778
director            15248
chief               14146
officer             13930
executive            9857
                    ...
cookware                1
appliances              1
vikk                    1
pharmacogenomics        1
rank                    1
Length: 8230, dtype: int64

In [38]:
word_counts.head(50)

manager           16778
director          15248
chief             14146
officer           13930
executive          9857
president          8952
founder            7895
of                 7824
partner            5723
vice               5502
marketing          5348
and                5170
sales              4726
senior             4674
managing           4569
co                 4214
owner              4182
financial          3143
business           2879
operations         2852
associate          2687
assistant          2666
development        2588
specialist         2390
advisor            2319
general            2304
account            1901
investment         1731
operating          1707
consultant         1585
principal          1568
analyst            1335
wealth             1302
coordinator        1269
engineer           1200
head               1188
member             1165
project            1119
product            1113
research           1055
cannabis           1041
compliance          973
management          966
hr                  946
chairman            923
lead                918
attorney            866
representative      848
cultivation         821
technician          808
dtype: int64

In [51]:
step4 = time.time()

list_of_titles=['manager',
 'director',
 'chief',
 'officer',
 'executive',
 'president',
 'founder',
 'partner',
 'vice',
 'marketing',
 'sales',
 'senior',
 'managing',
 'owner',
 'financial',
 'business',
 'operations',
 'associate',
 'assistant',
 'development',
 'specialist',
 'advisor',
 'investment',
 'operating',
 'consultant',
 'principal',
 'analyst',
 'coordinator',
 'engineer',
 'head',
 'member',
 'product',
 'research',
 'compliance',
 'management',
 'hr',
 'chairman',
 'lead',
 'attorney',
 'representative',
 'cultivation',
 'technician']
print(f'there are {len(list_of_titles)} titles')   

# loop over the job titles and append a semicolon separator between the matched titles
for i in list_of_titles:
    mask = df['extended_job_title'].str.contains(i, regex=False)
    df.loc[mask, 'simple_job_title'] += i + ';'

# strip the last semicolon from each value in the 'simple_job_title' column
df['simple_job_title'] = df['simple_job_title'].str.rstrip(';')

step5 = time.time()
print(step5 - step4)

there are 42 titles
1.1064209938049316

# need to address VP issue

# add the ceo etc

In [58]:
(df['simple_job_title'].str.len() > 0).sum()

87208

In [59]:
(df['extended_job_title'].str.len() > 0).sum()

99146

In [62]:
print(f'The simple job title covers {87208/99146*100} percent of the data')

The simple job title covers 87.95917132309927 percent of the data

In [57]:
type(df.at[3, 'simple_job_title'])

str

In [52]:
df

,job_title,job_title_no_punc,simple_job_title,extended_job_title
0,Director,director,directordirector;director,director
1,-,,,
2,CEO / Head Cultivator / Mycologist,ceo head cultivator mycologist,chief;officer;executive;headchief;officer;exec...,chief executive officer head cultivator my...
3,-,,,
4,Outreach Account Manager,outreach account manager,managermanager;manager,outreach account manager
...,...,...,...,...
99214,CEO,ceo,chief;officer;executivechief;officer;executive...,chief executive officer
99215,Investor Relations Manager,investor relations manager,managermanager;manager,investor relations manager
99216,CEO & Co-Founder,ceo co founder,chief;officer;executive;founderchief;officer;e...,chief executive officer co founder
99217,President and Co-Founder,president and co founder,president;founderpresident;founder;president;f...,president and co founder
99218,CEO,ceo,chief;officer;executivechief;officer;executive...,chief executive officer

In [44]:
df['simple_job_title'].notnull().sum()

99219

In [45]:
df['simple_job_title'].notna().sum()

99219

In [46]:
df['simple_job_title'].str.strip().notnull().sum()

99219

In [47]:
print(df['simple_job_title'])

0                               director
1
2           chief;officer;executive;head
3
4                                manager
                      ...
99214            chief;officer;executive
99215                            manager
99216    chief;officer;executive;founder
99217                  president;founder
99218            chief;officer;executive
Name: simple_job_title, Length: 99219, dtype: object

In [48]:
df['simple_job_title'].str.split(';').apply(lambda x: len([s for s in x if s])).sum()

168764

In [73]:
counts = {}

# iterate over each group of three consecutive words
for i in range(len(words) - 2):
    group = ' '.join(words[i:i+3])
    if group not in counts:
        counts[group] = 1
    else:
        counts[group] += 1

# find the twenty most common three-word groups
top_twenty = sorted(counts.items(), key=lambda x: x[1], reverse=True)[:20]
top_twenty

[('chief executive officer', 7290),
 ('chief operating officer', 1645),
 ('chief financial officer', 1534),
 ('founder chief executive', 1419),
 ('director of marketing', 1212),
 ('executive officer chief', 1154),
 ('officer chief executive', 1045),
 ('vice president of', 938),
 ('senior vice president', 918),
 ('co founder chief', 850),
 ('officer co founder', 829),
 ('president chief executive', 702),
 ('manager director of', 686),
 ('chief investment officer', 651),
 ('executive officer founder', 646),
 ('executive officer co', 559),
 ('manager chief executive', 547),
 ('officer vice president', 547),
 ('manager vice president', 500),
 ('officer director of', 495)]