In [1]:
import time
import numpy as np
import pandas as pd

In [ ]:
job_titles_from_hs = pd.read_csv(f'job_titles_from_hs.csv',  encoding= 'unicode_escape')

In [246]:

def clean_job_titles(dataframe):
    start = time.time()
    
    global df
    
    dataframe.rename(columns={'ï»¿Job Title': 'job_title'}, inplace=True)
    
    df_1 = dataframe.copy()
    df_1["job_title_no_punc"] = ""
    df_1['job_title_no_punc'] = df_1['job_title'].str.replace('[^a-zA-Z0-9\s]',' ', regex=True)
    df_1['job_title_no_punc'] = df_1['job_title_no_punc'].replace(np.nan, "")
    df_1['job_title_no_punc_but_with_upper'] = df_1['job_title_no_punc']
    df_1['job_title_no_punc']= df_1['job_title_no_punc'].str.lower()
    df_1["extended_job_title"] = df_1['job_title_no_punc']
    df_1["simple_job_title"] = ""
    df = df_1.copy()

    step1 = time.time()
    print(step1 - start)

    job_title_dict = {

        'co-founder' : 'co founder ',
        'cofounder' : 'co founder ',
        'co_founder' : 'co founder ',
        'bud tender' : 'budtender ',
        'chair ' : 'chairman '
    }

    for row in range(len(df['extended_job_title'])):
        for i, j in job_title_dict.items():
            if i in df['extended_job_title'][row]:
                df['extended_job_title'][row] = df['extended_job_title'][row].replace(i, j)

    
    step2 = time.time()
    print(step2 - step1)
    
    df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)ceo(?!\S)', 'chief executive officer', regex=True)
    df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)cco(?!\S)', 'chief compliance officer', regex=True)
    df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)chro(?!\S)', 'chief human resources officer', regex=True)
    df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)cso(?!\S)', 'chief security officer', regex=True)
    df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)cgo(?!\S)', 'chief green officer', regex=True)
    df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)cao(?!\S)', 'chief analytics officer', regex=True)
    df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)cmo(?!\S)', 'chief marketing officer', regex=True)
    df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)cdo(?!\S)', 'chief data/design officer', regex=True)
    df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)cfo(?!\S)', 'chief financial officer', regex=True)
    df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)cio(?!\S)', 'chief information officer', regex=True)
    df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)gc(?!\S)', 'general counsel', regex=True)
    df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)gm(?!\S)', 'general manager', regex=True)
    df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)cto(?!\S)', 'chief technology officer', regex=True)
    df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)cpo(?!\S)', 'chief product officer', regex=True)
    df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)cxo(?!\S)', 'chief experience officer', regex=True)
    df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)vp(?!\S)', 'vice president', regex=True)
    df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)svp(?!\S)', 'senior vice president', regex=True)
    df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)s(?!\S) vice president(?!\S)', 'senior vice president', regex=True)
    df['extended_job_title'] = df['extended_job_title'].replace(fr'(?<!\S)coo(?!\S)', 'chief operating officer', regex=True)
    df['extended_job_title'] = df['extended_job_title'].replace('cultivator', 'cultivation', regex=True)
                
    step3 = time.time()
    print(step3 - step2)

    job_title_dict = {
        'chief compliance officer ' : 'cco' ,
        'chief human resources officer ' :'chro' ,
        'chief security officer ' :'cso',
        'chief green officer ' :'cgo',
        'chief analytics officer ' :'cao',
        'chief marketing officer ' :'cmo',
        'chief data/design  officer ' : 'cdo',
        'chief financial officer ' :'cfo',
        'chief operating officer ' :'coo',
        'chief information officer ' :'cio',
        'general counsel ' :'gc',
        'general manager ' :'gm',
        'chief technology officer ' :'cto',
        'chief product officer ' :'cpo',
        'chief experience officer ' :'cxo',
        'chief executive officer ' : 'ceo',
        'co founder ' : ' co_founder'}

    for i, j in job_title_dict.items():
        for row in range(len(df['extended_job_title'])):    
            if j == df['extended_job_title'][row]:
                df['extended_job_title'][row] = df['extended_job_title'][row].replace(j, i)
                continue

    step4 = time.time()
    print(step4 - step3)

    

    list_of_titles=[#'manager',
    # 'director',
     #'chief',
   #  'officer',
    # 'executive',
    # 'president',
     'founder',
     'partner',
    # 'vice',
     'marketing',
     'sales',
     'senior',
   #  'managing',
     'owner',
   #  'financial',
   #  'business',
     'operations',
     'associate',
     'assistant',
    # 'development',
     'specialist',
     'advisor',
     'investment',
    # 'operating',
     'consultant',
     'principal',
     'analyst',
     'coordinator',
     'engineer',
     'head',
     'member',
     'product',
     'research',
     'compliance',
     'management',
     'hr',
     'chairman',
     'lead',
     'attorney',
     'representative',
     'cultivation',
     'technician']
    print(f'there are {len(list_of_titles)} simple titles')   

    # loop over the job titles and append a semicolon separator between the matched titles
    for i in list_of_titles:
        mask = df['extended_job_title'].str.contains(i, regex=False)
        df.loc[mask, 'simple_job_title'] += i + ';'

    list_of_titles=[
    'president',
    'vice president'
    ]

    for i in list_of_titles:
        if i == 'vice president':
            title_to_append = 'vice president'
        else:
            title_to_append = 'president'
        mask = df['extended_job_title'].str.contains(i, regex=False)
        df.loc[mask, 'simple_job_title'] += title_to_append + ';'
        
    list_of_titles=[
    'business development',
    'development'
    ]

    for i in list_of_titles:
        if i == 'business development':
            title_to_append = 'business development'
        else:
            title_to_append = 'development'
        mask = df['extended_job_title'].str.contains(i, regex=False)
        df.loc[mask, 'simple_job_title'] += title_to_append + ';'
        
    list_of_titles=[
    'managing director',
    'director'
    ]

    for i in list_of_titles:
        if i == 'managing director':
            title_to_append = 'managing director'
        else:
            title_to_append = 'director'
        mask = df['extended_job_title'].str.contains(i, regex=False)
        df.loc[mask, 'simple_job_title'] += title_to_append + ';'
        
    list_of_titles = [
        'general manager',
        'general',
        'manager'
    ]

    for i in list_of_titles:
        if i == 'general manager':
            title_to_append = 'general manager'
            mask = df['extended_job_title'].str.contains(i, regex=False)
        else:
            title_to_append = i
            mask = df['extended_job_title'].str.contains(f'^(?!.*general manager).*{i}.*$', regex=True)
        df.loc[mask, 'simple_job_title'] += title_to_append + ';'


    list_of_titles = [
    'chief executive officer',
    'chief operating officer',
    'chief financial officer',
    'chief',
    'executive',
    'operating',
    'financial',
    'officer'
    ]


    for i in list_of_titles:
        if i == 'chief executive officer':
            title_to_append = 'chief executive officer'
            mask = df['extended_job_title'].str.contains(i, regex=False)
        elif i == 'chief operating officer':
            title_to_append = 'chief operating officer'
            mask = df['extended_job_title'].str.contains(i, regex=False)
        elif i == 'chief financial officer':
            title_to_append = 'chief financial officer'
            mask = df['extended_job_title'].str.contains(i, regex=False)
        else:
            title_to_append = i
            mask = df['extended_job_title'].str.contains(f'^(?!.*(?:chief executive officer|chief operating officer|chief financial officer)).*{i}.*$', regex=True)
        df.loc[mask, 'simple_job_title'] += title_to_append + ';'
        
    # strip the last semicolon from each value in the 'simple_job_title' column
    df['simple_job_title'] = df['simple_job_title'].str.rstrip(';')
    df['simple_job_title'] = df['simple_job_title'].replace('', 'no simple title')
    df.loc[df['extended_job_title'] == '', 'simple_job_title'] = 'no title in Database'
    step5 = time.time()
    print(step5 - step4)
    
    df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
    
    end = time.time()
    
    print("Time taken to clean job titles:", end - start, "seconds.")

Data Manipulation
Create an bar chart of the top 50 words
Eliminate noise
Create tableau presenting the difference

In [247]:
cleaned_df = clean_job_titles(job_titles_from_hs)

0.1865682601928711
3.2986562252044678
3.148038148880005
9.116149425506592
there are 30 simple titles
1.646045207977295
Time taken to clean job titles: 17.504817724227905 seconds.

In [245]:
df

,job_title,job_title_no_punc,job_title_no_punc_but_with_upper,extended_job_title,simple_job_title
0,Director,director,Director,director,director
1,-,,,,no title in Database
2,CEO / Head Cultivator / Mycologist,ceo head cultivator mycologist,CEO Head Cultivator Mycologist,chief executive officer head cultivation m...,head;cultivation;chief executive officer
3,-,,,,no title in Database
4,Outreach Account Manager,outreach account manager,Outreach Account Manager,outreach account manager,manager
...,...,...,...,...,...
99214,CEO,ceo,CEO,chief executive officer,chief executive officer
99215,Investor Relations Manager,investor relations manager,Investor Relations Manager,investor relations manager,manager
99216,CEO & Co-Founder,ceo co founder,CEO Co Founder,chief executive officer co founder,founder;chief executive officer
99217,President and Co-Founder,president and co founder,President and Co Founder,president and co founder,founder;president
99218,CEO,ceo,CEO,chief executive officer,chief executive officer

In [240]:
df

,job_title,job_title_no_punc,job_title_no_punc_but_with_upper,extended_job_title,simple_job_title
0,Director,director,Director,director,director
1,-,,,,no title
2,CEO / Head Cultivator / Mycologist,ceo head cultivator mycologist,CEO Head Cultivator Mycologist,chief executive officer head cultivation m...,head;cultivation;chief executive officer
3,-,,,,no title
4,Outreach Account Manager,outreach account manager,Outreach Account Manager,outreach account manager,manager
...,...,...,...,...,...
99214,CEO,ceo,CEO,chief executive officer,chief executive officer
99215,Investor Relations Manager,investor relations manager,Investor Relations Manager,investor relations manager,manager
99216,CEO & Co-Founder,ceo co founder,CEO Co Founder,chief executive officer co founder,founder;chief executive officer
99217,President and Co-Founder,president and co founder,President and Co Founder,president and co founder,founder;president
99218,CEO,ceo,CEO,chief executive officer,chief executive officer

In [248]:
df.to_csv(f'C:/Users/nwba2/My-Projects/output/transformed_job_titles.csv', index=False)

PermissionError: [Errno 13] Permission denied: 'C:/Users/nwba2/My-Projects/output/transformed_job_titles.csv'

In [225]:
print(f'There are {df["job_title"].nunique()} unique titles in job_title')
print(f'There are {df["job_title_no_punc_but_with_upper"].nunique()} unique titles in job_title_no_punc_but_with_upper')
print(f'There are {df["job_title_no_punc"].nunique()} unique titles in job_title_no_punc')
print(f'There are {df["extended_job_title"].nunique()} unique titles in extended_job_title')
print(f'There are {df["simple_job_title"].nunique()} unique titles in simple_job_title')
print(f' Within simple_job_title - There are {len(set(",".join(df["simple_job_title"]).replace(";", ",").split(",")))} unique titles')

There are 35130 unique titles in job_title
There are 34483 unique titles in job_title_no_punc_but_with_upper
There are 33543 unique titles in job_title_no_punc
There are 33160 unique titles in extended_job_title
There are 3006 unique titles in simple_job_title
 Within simple_job_title - There are 48 unique titles

In [226]:
mask = df['job_title_no_punc_but_with_upper'] != df['job_title']

print(f'cleaning punc applied to {mask.sum()} rows')

cleaning punc applied to 25341 rows

In [227]:
mask = df['job_title_no_punc'] != df['extended_job_title']

print(f'extending the abvs applied to {mask.sum()} rows')

extending the abvs applied to 8519 rows

In [229]:
df['job_title_no_punc'].value_counts().head(20)

owner                      1865
partner                    1822
ceo                        1781
chief executive officer    1703
president                  1523
managing director          1420
founder                    1391
director                   1182
co founder                 1176
director of marketing      1089
managing partner           1016
general manager             955
manager                     871
chief financial officer     863
vice president              833
marketing director          717
chief operating officer     654
principal                   594
hr manager                  475
founder   ceo               471
Name: job_title_no_punc, dtype: int64

In [230]:
df['extended_job_title'].value_counts().head(20)

chief executive officer              3484
owner                                1865
partner                              1822
president                            1523
managing director                    1420
founder                              1391
co founder                           1246
director                             1182
director of marketing                1089
chief financial officer              1085
general manager                      1059
managing partner                     1016
chief operating officer              1010
vice president                        930
manager                               871
marketing director                    717
principal                             594
founder   chief executive officer     519
hr manager                            475
account manager                       422
Name: extended_job_title, dtype: int64

still not perfect, lets make a simple job title that will cover most of the titles

In [236]:
rows_with_simple_job_title = (df['simple_job_title'] != 'no title').sum()

In [237]:
rows_with_extended_job_title = (df['extended_job_title'].str.len() > 0).sum()

In [238]:
print(f'The simple job title covers {rows_with_simple_job_title/rows_with_extended_job_title*100:.2f} percent of the data')

The simple job title covers 88.21 percent of the data

Count the unique simple job titles:

In [239]:
words = ",".join(df["simple_job_title"]).replace(";", ",").split(",")
# create a series from the list of words and count the frequency of each word
word_counts = pd.Series(words).value_counts()
word_counts_df = pd.DataFrame(word_counts).reset_index()
# rename the columns
word_counts_df.columns = ['word', 'count']
word_counts_df

                       word  count
0                  director  15324
1                   manager  15242
2                  no title  11763
3                 president   8967
4                   founder   7902
5   chief executive officer   7275
6                   partner   5919
7            vice president   5434
8                 marketing   5333
9                     sales   4783
10                   senior   4650
11                    owner   4189
12                    chief   3399
13                  officer   3190
14               operations   2852
15                associate   2694
16                assistant   2666
17        managing director   2593
18              development   2591
19                  advisor   2567
20                executive   2484
21               specialist   2393
22               investment   1995
23                  product   1743
24  chief operating officer   1636
25               consultant   1587
26                financial   1586
27                 engineer   1582
28                principal   1570
29  chief financial officer   1526
30     business development   1493
31          general manager   1480
32                  analyst   1328
33              coordinator   1269
34                   member   1194
35                     head   1191
36                     lead   1164
37                 research   1155
38              cultivation   1072
39                       hr   1001
40               compliance    972
41               management    960
42                 chairman    923
43                  general    889
44                 attorney    865
45           representative    847
46               technician    807
47                operating     56

# NEXT STEPS:

### 1. Create Tableau visuales to show the changes and provide insights of the data

### Finding the simple job titles

(its already included in the function but this is how I built it)

#### find the most common words

In [185]:

# concatenate all text data into a single string
text = ' '.join(df['extended_job_title'])

# convert string to lowercase and split into words
words = text.split()

# create a series from the list of words and count the frequency of each word
word_counts = pd.Series(words).value_counts()

word_counts_df = pd.DataFrame(word_counts).reset_index()

# rename the columns
word_counts_df.columns = ['word', 'count']

In [186]:
word_counts_df['word'].head(50).to_list()

['manager',
 'director',
 'chief',
 'officer',
 'executive',
 'president',
 'founder',
 'of',
 'partner',
 'vice',
 'marketing',
 'and',
 'sales',
 'senior',
 'managing',
 'co',
 'owner',
 'financial',
 'business',
 'operations',
 'associate',
 'assistant',
 'development',
 'specialist',
 'advisor',
 'general',
 'account',
 'investment',
 'operating',
 'consultant',
 'principal',
 'analyst',
 'wealth',
 'coordinator',
 'engineer',
 'head',
 'member',
 'project',
 'product',
 'research',
 'cannabis',
 'compliance',
 'management',
 'hr',
 'chairman',
 'lead',
 'attorney',
 'representative',
 'cultivation',
 'technician']

removed words like 'of' 'and' etc

#### find the most common two consecutive words

In [167]:
counts = {}

# iterate over each group of two consecutive words
for i in range(len(words) - 1):
    group = ' '.join(words[i:i+2])
    if group not in counts:
        counts[group] = 1
    else:
        counts[group] += 1

# find the twenty most common three-word groups
top_twenty = sorted(counts.items(), key=lambda x: x[1], reverse=True)[:30]
top_twenty

[('chief executive', 7317),
 ('executive officer', 7301),
 ('vice president', 5440),
 ('director of', 4549),
 ('co founder', 3415),
 ('managing director', 2590),
 ('officer chief', 2420),
 ('founder chief', 2025),
 ('chief operating', 1661),
 ('operating officer', 1655),
 ('managing partner', 1584),
 ('chief financial', 1542),
 ('financial officer', 1539),
 ('business development', 1493),
 ('general manager', 1480),
 ('of marketing', 1351),
 ('president chief', 1291),
 ('sales manager', 1207),
 ('manager director', 1132),
 ('manager chief', 1088),
 ('marketing director', 1065),
 ('account manager', 1018),
 ('president of', 982),
 ('head of', 969),
 ('officer co', 958),
 ('officer director', 938),
 ('officer founder', 923),
 ('senior vice', 918),
 ('director chief', 903),
 ('partner chief', 833)]

picked:</br>
    business development </br>
    managing director </br>
    general manager

#### find the most common three consecutive words

In [188]:
counts = {}

# iterate over each group of three consecutive words
for i in range(len(words) - 2):
    group = ' '.join(words[i:i+3])
    if group not in counts:
        counts[group] = 1
    else:
        counts[group] += 1

# find the twenty most common three-word groups
top_twenty = sorted(counts.items(), key=lambda x: x[1], reverse=True)[:20]
top_twenty

[('chief executive officer', 7290),
 ('chief operating officer', 1645),
 ('chief financial officer', 1534),
 ('founder chief executive', 1419),
 ('director of marketing', 1212),
 ('executive officer chief', 1154),
 ('officer chief executive', 1045),
 ('vice president of', 938),
 ('senior vice president', 918),
 ('co founder chief', 850),
 ('officer co founder', 829),
 ('president chief executive', 702),
 ('manager director of', 686),
 ('chief investment officer', 651),
 ('executive officer founder', 646),
 ('executive officer co', 559),
 ('manager chief executive', 547),
 ('officer vice president', 547),
 ('manager vice president', 500),
 ('officer director of', 495)]

picked:</br>
    chief executive officer </br>
    chief operating officer </br>
    chief financial officer